[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
bindsnet = {editable = true,path = "/home/dan/code/bindsnet"}
tb-nightly = "*"
future = "*"

[requires]
python_version = "3.6"
